version: '3.6'
services:
  api:
    build: ./API
    ports: 
      - 5000:80
    depends_on:
      - db
    networks:
      - mysql-network
      - web
    environment:
      - ConnectionStrings__DefaultConnection=$PRODUCTION_CONNECTION_STRING 
      - App__Frontend__FrontendUrl=https://dex.software 
      - App__Frontend__ClientId=$PRODUCTION_API_FRONTEND_CLIENT_ID
      - App__Frontend__ClientSecret=$PRODUCTION_API_FRONTEND_CLIENT_SECRET
      - App__IdentityServer__IdentityUrl=https://identity.dex.software
    labels:
      - traefik.backend=api
      - traefik.frontend.rule=Host:api.dex.software
      - traefik.docker.network=web
      - traefik.port=5000
  
  db:
    build: ./Data
    ports:
      - 1433:1433
    networks:
      mysql-network:
        ipv4_address: 172.16.238.2
    environment:
      - MSSQL_SA_PASSWORD=$PRODUCTION_DATABASE_PASSWORD

  identity:
    build: ./IdentityServer
    ports: 
      - 5005:80
    networks:
      - web
    environment:
      - App__Self__JwtAuthority=https://dex.software/
      - App__Self__IdentityApplications=$PRODUCTION_IDENTITY_APPLICATIONS
      - App__Api__DeXApiUrl=https://api.dex.software 
      - App__Frontend__RedirectUrisFrontend=[ "https://dex.software/auth-callback" ] 
      - App__Frontend__PostLogoutUrisFrontend=[ "https://dex.software/" ]
    labels:
      - traefik.backend=identity
      - traefik.frontend.rule=Host:identity.dex.software
      - traefik.docker.network=web
      - traefik.port=5005

networks:
  mysql-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
    external: false
  web:
    external: true